html {
  font-family: Sans-serif;
}

h1 {
	font-size: 50px;
	margin: 1%;
}

h2 {
	font-size: 20px;
	margin-top: 1%;
	margin-bottom: 5%;
	font-weight: bold;
}

section {
	text-align: center;
}

#joke {
	margin: 10px;
}

button.button {
	display: block;
	font-size: 20px;
	margin: 0 auto;
	margin-top: 1%;
	width: 150px;
	height: 50px;
	border-color: black;
	background: lightgreen;
}

button.button:hover {
	border-color: green;
	color: green;
}

button.button:active {
	border-color: lightgreen;
	color: white;
	background: lightgreen;
}

section#hide {
	opacity: 0;
	visibility: hidden;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

.sidebar {
	visibility: hidden;
	width: 265px;
	height: auto;
	margin-right: 1%;
	padding: 1%;
	float: right;
	background: lightgreen;
}

li {
	margin-top: 2px;
}

input {
	display: block;
	margin: 0 auto;
	margin-top: 1%;
	width: 150px;
	height: 30px;
	border-color: green;
}